---
import ArrowLeft from '@/assets/icons/arrow-left.svg'
import ArrowRight from '@/assets/icons/arrow-right.svg'
import ScrollToTop from '@/components/ScrollToTop.astro'

type Link = { href: string; title: string }
type Props = { prev?: Link; next?: Link }

const { prev, next } = Astro.props
const prevTitle = prev?.title
const nextTitle = next?.title
---

<post-actions>
  <a
    href={prev?.href}
    data-icon-button
    data-dir="prev"
    aria-label={prevTitle && `Previous: ${prevTitle}`}
    aria-hidden={!prev || undefined}
    title={prevTitle}
  >
    <ArrowLeft />
  </a>
  <a
    href={next?.href}
    data-icon-button
    data-dir="next"
    aria-label={nextTitle && `Next: ${nextTitle}`}
    aria-hidden={!next || undefined}
    title={nextTitle}
  >
    <ArrowRight />
  </a>
  <ScrollToTop />
</post-actions>

<style>
  post-actions {
    display: contents;

    @media (width < 64rem) {
      display: none;
    }
  }

  a {
    color: var(--foreground);

    &:not([href]) {
      color: var(--muted-foreground);
      opacity: 0.5;
      pointer-events: none;
    }
  }
</style>
